</br>
<div class="d-grid gap-2 d-md-flex justify-content-md-end "><button me-md-2 type="button" class="btn btn-outline-dark"><%= link_to "back to stories", stories_path %>
</button></div>
<div>
<p style="color: green"><%= notice %></p>

<%= render @story %>

<form action=" /likes" method="story">


<input type="hidden" name="like[story_id]" value="<%= @story.id %>">
<input type="submit" value="Like">
</form>

<button type="button" class="btn btn-outline-dark bm-4">
  <%= link_to "Edit this story", edit_story_path(@story) %> 
  </button>
  <%= button_to 'Delete this story',@story, method: :delete, class: 'btn btn-outline-danger mt-3'  %>

</div>
